.grid {
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(330px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
    grid-template-areas: 
        "A B C D"
        "E F F D";
    width: $grid-width;
    height: 850px;
    
    &__container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;
        padding-left: $menu-width;
        padding-top: $top-bar-height;
    }

    &__section-A {grid-area: A;}
    &__section-B {grid-area: B;}
    &__section-C {grid-area: C;}
    &__section-D {grid-area: D;}
    &__section-E {grid-area: E;}
    &__section-F {grid-area: F;}

}
