.grid {
    display: inline-grid;
    grid-template-columns: 21.25%;
    grid-template-rows: auto;
    grid-column-gap: 3%;
    grid-row-gap: 5%;
    grid-template-areas: 
        "A B C D"
        "E F F D";
    width: 1520px;
    height: 850px;
    // padding: 2% 7%;
    
    &__container {
        display: flex;
        justify-content: center;
        // align-items: center;
        width: 100%;
        height: 100vh;
        padding-left: $menu-width;
        padding-top: $top-bar-height;
    }

    &__section-A,
    &__section-B,
    &__section-C,
    &__section-D,
    &__section-E,
    &__section-F {
        background-color: $color-red;
    }

    &__section-A {grid-area: A;}
    &__section-B {grid-area: B;}
    &__section-C {grid-area: C;}
    &__section-D {grid-area: D; background-color: $color-blue;}
    &__section-E {grid-area: E;}
    &__section-F {grid-area: F; background-color: $color-green;}

}
