.menu {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 400;
    width: $menu-width;
    height: 100vh;
    background-color: $color-black-light;
    box-shadow: $shadow-menu;

    &__logo {
        margin: 35px 0;
    }

    &__item {
        width: 45px;
        height: 45px;
        margin: 35px 0;
        cursor: pointer;
    }

    &__popup {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 100%;
        position: absolute;
        left: $menu-width;
        height: 100vh;
        z-index: 300;
        background-color: $color-black-light;

        &-content {
            width: 80%;
            height: 90%;
        }
    }
}