.weather {
    display: flex;
    justify-content: space-between;
    width: 250px;

    &__content {
        text-align: right;
    }

    &__icon {
        flex-shrink: 0;
        width: 50px;
        // height: 100%;
        img{
            // height: 100%;
            width: 100%;
        }
    }
}