.weather {
    display: flex;
    justify-content: space-between;

    &__content {
        display: flex;
        align-items: center;
        text-align: right;
        text-transform: capitalize;
        margin-right: 25px;
    }

    &__icon {
        flex-shrink: 0;
        width: 50px;
        
        img{
            width: 100%;
        }
    }
}