.work-detail {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 700px;
    border-radius: 10px;
    background-color: $color-gray;
    box-shadow: $shadow-big;
    position: relative;
    z-index: 910;

    @media (max-width: $screen-small) {
        flex-direction: column;
        justify-content: flex-start;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 900;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba($color-black, 0.8);
    }

    &__close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;

        img {
            width: 50%;
            height: 50%;
        }
    }

    &__images,
    &__content {
        width: 50%;

        @media (max-width: $screen-small) {
            width: 100%;
        }
    }

    &__images {
        height: 100%;
        border-radius: 10px 0 0 10px;
        overflow: hidden;

        @media (max-width: $screen-small) {
            height: 40%;
        }

        & > div, 
        .carousel, 
        .slider-wrapper, 
        .slider {
            height: 100%;
        }
    }

    &__slider {
        width: 100%;
        height: 100%;
    }

    &__slide {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 75px;
        overflow: hidden;
        height: 100%;

        h2 {
            margin-bottom: 30px;
        }

        @media (max-width: $screen-medium) {
            padding: 50px 25px 25px;
        }

        @media (max-width: $screen-small) {
            padding: 50px 25px 25px;
        }
    }

    &__text {
        max-height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
        box-sizing: content-box; 
        padding-right: 17px;

        @media (max-width: $screen-medium) {
            max-height: 400px;
        }

        @media (max-width: $screen-small) {
            max-height: 300px;
        }
    }

    &__skills {
        margin-top: 15px;
    }
}