$color-black: #18191D;
$color-black-light: #1D2024;
$color-gray: #2A2B31;
$color-gray-light: #A3A3A3;
$color-gray-2: #9F9F9F;

$color-blue: #56CCF2;
$color-blue-light: #61DAFB;
$color-blue-dark: #2A5766;
$color-green: #4FC08D;
$color-red: #DD0031;
$color-purple: #8D4DE6;

$gradient-green-black: radial-gradient(205.73% 188.1% at -110.09% -66.5%, #0F2122 0%, #1D2024 100%);

