body {
    margin: 0;
    background-color: $color-black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

pre {
    white-space: pre-wrap;
}