$shadow-big: 0px 0px 20px rgba($color-black, 0.25);
$shadow-small: 0px 0px 10px rgba($color-black, 0.25);
$shadow-menu: 10px 0px 25px rgba($color-black, 0.25);
$glow-blue: 0px 0px 0.75px $color-blue-dark;